html


{
	text-align: center;
	margin:0;
    padding:0;
    background-image: url("https://orderiseperd.files.wordpress.com/2018/10/fond-ecran-noir.jpg?w=1100");
    -webkit-background-size: cover;
    background-size: cover;
    color : red;
    font-family: 'Bangers', cursive;

    font-style: 80%;	


}  

body

{
  
}

footer
{
	
	

    	

    bottom:0;

    width:100%;

    padding-top:50px;

    height:50px;
}
.bordure
{
	border: solid blue 3px;
	margin: 40px;
	border-radius: 10px;
	
}

footer
{
	
	
}



#logo

{
	height: 40px;
}


.haut

{
	margin-bottom: 300px;
}

.petit

{
	width:  90px;
	height: 60px;
}

#JolieBordure


{

	border: solid blue 3px;
	margin-right: 250px;
	margin-left: 250px;
	box-shadow: inset 0 0 1em green, 0em 0 1em yellow;
	border-radius: 15px;
}